langchain
langchain-core
langchain-community
langchain-mistralai
mistralai
langchain-huggingface
langchain-chroma 
chromadb
sentence-transformers
pypdf
unstructured
beautifulsoup4
lxml

# Text Processing

tiktoken

# Environment Variables

python-dotenv
pandas
numpy
fastapi
uvicorn
streamlit
tqdm
torchvision
requests